!!!
%html
    %head 
        %link(rel="stylesheet" type="text/css" href="style.css")
        %title
            Matter
    %body
        %h1
            matter show
        %h2
            Goldsmiths BA Design Show 2014
        %ul
            %li.datesAndTimes
                %dl
                    %dt
                        Industry and press view 
                    %dd
                        29 May 18-22.00
                    %dt
                        Public Opening 
                    %dd
                        30 May 18-22.00
            %li.address
                Dray Walk
                91 Brick Lane
                London
                E1 6QL
            %li.contact
                %a{:href => "https://twitter.com/mattershow"}
                    @mattershow
