!!!
%html
    %head 
        %link(rel="stylesheet" type="text/css" href="style.css")
        %title
            Matter
    %body
        %h1
            matter show
        %h2
            Goldsmiths BA Design Show 2014
        %ul
            %li.datesAndTimes
                %dl
                    %dt
                        Industry and press view 
                    %dd
                        28.05.2014 18-22.00
                    %dt
                        Public Opening 
                    %dd
                        29.05.2014 18-22.00
            %li.address
                The Old Truman Brewery
                91-95 Brick Lane
                London
                E1 6QL
