!!!
%html
    %head 
        %link(rel="stylesheet" type="text/css" href="style.css")
        %title
            Matter
    %body
        %h1
            matter show
        %h2
            Goldsmiths BA Design Show 2014
        %p
            Industry and press view 28.05.2014 18-22.00
        %p
            Public Opening 29.05.2014 18-22.00
        %p
            The Old Truman Brewery
        %p
            91-95 Brick Lane
        %p
            London
        %p
            E1 6QL
