@import "_reset.scss"
body
    text-align: center
    font-family: monospace
    padding-top: 5%
    font-size: 1.5em
    h1,h2
        margin: 0
    h1
        font-size: 2.8899999999em
        line-height: 140%
        font-weight: bold
    h2
        font-size: 1.57em
        line-height: 140%
    ul
        li
            list-style: none
            dl
                dt,dd
                    margin: 0
                dt
                    font-weight: bold
            &.address
                white-space: pre-line 

