body
    font-family: monospace
    .header
        width: 20%
        float: left
    .projects
        width: 60%
        float: left
        .project
            .introduction,.full,.links
                display: none
